@font-face {
    font-family: "BNazanin";
    src: url("../fonts/B-NAZANIN/b-nazanin-webfont.woff2") format("woff2"),
    url("../fonts/B-NAZANIN/b-nazanin-webfont.woff") format("woff"),
    url("../fonts/B-NAZANIN/B-NAZANIN.TTF") format("truetype");
}

html {
    direction: rtl;
    margin: 10px;
    font-family: "Noto Sans", "BNazanin", sans-serif;
}

.center {
    text-align: center;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1em;
}

.subject {
    color: rgb(0, 0, 0);
}

.subheading {
    color: rgb(0, 0, 0);
}

.year {
    color: rgb(0, 0, 0);
}

.people {
    color: rgb(0, 0, 0);
}

.page {
    padding: 0cm;
    direction: rtl;
    page-break-after: always;
}

.page-heading {
    color: rgb(0, 0, 0);
    margin-right: 40px;
    page-break-after: avoid;
}

pre {
    direction: ltr;
}
code {
    direction: ltr;
    font-family: monospace;
    font-size: 1.2em;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    page-break-after: always;
}
.hljs {
    white-space: pre-wrap;
    background-color: rgb(245, 245, 245) !important;
    border-radius: 20px;
    direction: ltr !important;
}

.desc-heading {
    color: rgb(0, 0, 0);
    margin-right: 40px;
    page-break-after: avoid;
}

.algo-list {
    background-color: rgb(255, 236, 212);
    border-radius: 10px;
    line-height: 3vh;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    page-break-before: avoid;
    page-break-inside: auto;
}
.algo-list li {
    font-size: 1.2em;
    margin-top: 2.5vh;
}
.algo-list li:first-child {
    margin-top: 0px !important;
}
.algo-list li:last-child {
    margin-bottom: 0px !important;
}

.algo-list li::marker {
    color:rgba(17, 17, 17, 0.767);
}

.desc-sub-heading {
    color: rgb(0, 0, 0);
    margin-right: 50px;
    page-break-after: avoid;
    margin-top: 0px;
}

.desc {
    page-break-inside: avoid;
}